.cv-container {
  background-color: white;
  border-radius: 5px;

  // A4 Page Size
  width: 21.0cm;
  height: 29.7cm;
  aspect-ratio: 21/29.7;

  user-select: none;
}

.cv-header {
  background-color: var(--accent-colour);
  width: 100%;
  height: 4cm;
  // overflow: hidden;
  color: var(--accent-text-colour);
}