:root {
  --main-colour: rgb(74,74,74);
  --accent-colour: rgb(87,109,123);
  --accent-text-colour: white;
  --accent-heading-colour: whitesmoke;
  --cv-font: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
  margin: 0;
  max-height: 100vh;
  overflow: hidden;
}

.app-wrapper {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(43,43,43);
}

.app-container {
  height: 100vh;
  width: 100vw;
  // overflow: hidden;

  display: grid;
  grid-template-columns: 350px 1fr;
  grid-template-rows: 100vh;
  // background-color: blue;
  max-width: 1000px;
}

.cv-details-input-container {
  max-width: 350px;

  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
  // background-color: red;
  max-height: 100vh;
  overflow-y: scroll;
}

.cv-wrapper {
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(56,56,56);
}

.hidden-cv-container {
  margin: 0;
  width: 21cm;
  height: 29.7cm;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1000;
}

.hidden-iframe {
  width: 100%;
  height: 0px;
  border: none;
  z-index: -1000;
}

@mixin standard-btn($btn-colour, $text-colour) {
  border: none;
  background-color: $btn-colour;
  border-radius: 6px;
  
  color: $text-colour;
  font-size: 1rem;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  
  &:hover {
    cursor: pointer;
    background-color: darken($btn-colour, 10%);
  }
  
  &:active {
    background-color: darken($btn-colour, 5%);
  }
}

.primary-btn {
  $btn-colour: rgb(220, 220, 220);
  @include standard-btn($btn-colour, black);
}

.negative-btn {
  $btn-colour: rgb(200, 64, 64);
  @include standard-btn($btn-colour, white);
}