.accent-picker-container {
  background-color: whitesmoke;
  border-radius: 10px;
  padding: 5px;
}

.accent-options-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  height: 40px;
  gap: 5px;
  margin-top: 5px;
}

.accent-options-btn {
  border: none;
  // color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  font-size: 1rem;
  border-radius: 6px;
}