.dropdown-form {
  background-color: white;
  padding: 5px;
  // margin: 0px 10px 10px 10px;
  border-radius: 10px;
}

.form-section-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 5px;
}

.form-section-btn {
  font-size: 1.1rem;
  width: 100%;
  height: 50px;
}

.form-btn-container {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.form-btn {
  font-size: 1.1rem;
  padding: 5px 15px;
  border-radius: 50px;
  min-width: 45%;
}